In [1]:
!pip install pandas numpy langdetect

import pandas as pd
import numpy as np
from langdetect import detect

Requirement already satisfied: pandas in c:\users\ruchi shukla\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\ruchi shukla\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: langdetect in c:\users\ruchi shukla\anaconda3\lib\site-packages (1.0.9)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ruchi shukla\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ruchi shukla\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ruchi shukla\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six in c:\users\ruchi shukla\appdata\roaming\python\python312\site-packages (from langdetect) (1.16.0)

In [2]:
sentiment_df = pd.read_csv('airline_sentiment.csv')

passenger_df = pd.read_csv('passenger_satisfaction.csv')

expedia_df = pd.read_csv('expedia_dataset.csv')

In [3]:
skytrax_df = pd.read_csv('skytrax_reviews.csv')

In [4]:
print(skytrax_df.columns)
print(skytrax_df.head)

Index(['airline', 'overall', 'author', 'review_date', 'customer_review',
       'aircraft', 'traveller_type', 'cabin', 'route', 'date_flown',
       'seat_comfort', 'cabin_service', 'food_bev', 'entertainment',
       'ground_service', 'value_for_money', 'recommended'],
      dtype='object')
<bound method NDFrame.head of                       airline  overall               author  \
0                         NaN      NaN                  NaN
1            Turkish Airlines      7.0  Christopher Hackley
2                         NaN      NaN                  NaN
3            Turkish Airlines      2.0        Adriana Pisoi
4                         NaN      NaN                  NaN
...                       ...      ...                  ...
131890  Ukraine International      NaN     Andriy Yesypenko
131891                    NaN      NaN                  NaN
131892  Ukraine International      NaN    Volodya Bilotkach
131893                    NaN      NaN                  NaN
131894  Ukraine International      NaN      Kasper Hettinga

               review_date                                    customer_review  \
0                      NaN                                                NaN
1             8th May 2019  âœ… Trip Verified | London to Izmir via Istanb...
2                      NaN                                                NaN
3             7th May 2019  âœ… Trip Verified | Istanbul to Bucharest. We ...
4                      NaN                                                NaN
...                    ...                                                ...
131890       19th May 2006  Kiev - London (Gatwick) in business class (in ...
131891                 NaN                                                NaN
131892     29th April 2006  Several flights - KBP to AMS (3 times one way)...
131893                 NaN                                                NaN
131894  10th February 2006  KBP-AMS with UIA. Although it was a relatively...

       aircraft  traveller_type          cabin                         route  \
0           NaN             NaN            NaN                           NaN
1           NaN        Business  Economy Class  London to Izmir via Istanbul
2           NaN             NaN            NaN                           NaN
3           NaN  Family Leisure  Economy Class         Istanbul to Bucharest
4           NaN             NaN            NaN                           NaN
...         ...             ...            ...                           ...
131890      NaN             NaN            NaN                           NaN
131891      NaN             NaN            NaN                           NaN
131892      NaN             NaN            NaN                           NaN
131893      NaN             NaN            NaN                           NaN
131894      NaN             NaN            NaN                           NaN

       date_flown  seat_comfort  cabin_service  food_bev  entertainment  \
0             NaN           NaN            NaN       NaN            NaN
1          May-19           4.0            5.0       4.0            4.0
2             NaN           NaN            NaN       NaN            NaN
3          May-19           4.0            1.0       1.0            1.0
4             NaN           NaN            NaN       NaN            NaN
...           ...           ...            ...       ...            ...
131890        NaN           NaN            NaN       NaN            NaN
131891        NaN           NaN            NaN       NaN            NaN
131892        NaN           NaN            NaN       NaN            NaN
131893        NaN           NaN            NaN       NaN            NaN
131894        NaN           NaN            NaN       NaN            NaN

        ground_service  value_for_money recommended
0                  NaN              NaN         NaN
1                  2.0              4.0         yes
2                  NaN              NaN         NaN
3                  1.0              1.0          no
4                  NaN              NaN         NaN
...                ...              ...         ...
131890             NaN              NaN          no
131891             NaN              NaN         NaN
131892             NaN              NaN          no
131893             NaN              NaN         NaN
131894             NaN              NaN          no

[131895 rows x 17 columns]>

In [5]:
print(expedia_df.columns)
print(expedia_df.head)

Index(['Unnamed: 0', 'date_time', 'site_name', 'posa_continent',
       'user_location_country', 'user_location_region', 'user_location_city',
       'orig_destination_distance', 'user_id', 'is_mobile', 'is_package',
       'channel', 'srch_ci', 'srch_co', 'srch_adults_cnt', 'srch_children_cnt',
       'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id',
       'is_booking', 'cnt', 'hotel_continent', 'hotel_country', 'hotel_market',
       'hotel_cluster'],
      dtype='object')
<bound method NDFrame.head of        Unnamed: 0            date_time  site_name  posa_continent  \
0        24636210  2014-11-03 16:02:28         24               2
1        19837144  2013-03-13 19:25:01         11               3
2        13066459  2014-10-13 13:20:25          2               3
3         4691082  2013-11-05 10:40:34         11               3
4         4878884  2014-06-10 13:34:56          2               3
...           ...                  ...        ...             ...
99995    18926976  2013-03-31 16:45:01          2               3
99996     2700011  2013-09-29 14:09:07          2               3
99997    35620410  2014-07-11 22:05:54         37               1
99998    25735008  2013-07-02 01:03:12          2               3
99999     1792721  2014-12-19 19:59:12         11               3

       user_location_country  user_location_region  user_location_city  \
0                         77                   871               36643
1                        205                   135               38749
2                         66                   314               48562
3                        205                   411               52752
4                         66                   174               50644
...                      ...                   ...                 ...
99995                     66                   351               21609
99996                     66                   462               49272
99997                     69                   998               52849
99998                     66                   246               28491
99999                    205                   354               53478

       orig_destination_distance  user_id  is_mobile  ...  srch_children_cnt  \
0                       456.1151   792280          0  ...                  0
1                       232.4737   961995          0  ...                  0
2                      4468.2720   495669          0  ...                  0
3                       171.6021   106611          0  ...                  0
4                            NaN   596177          0  ...                  1
...                          ...      ...        ...  ...                ...
99995                  1386.4061   858268          0  ...                  0
99996                   698.1395   957708          0  ...                  0
99997                        NaN   814512          1  ...                  0
99998                   207.2549   881704          0  ...                  0
99999                  1198.4359   845482          0  ...                  1

       srch_rm_cnt srch_destination_id srch_destination_type_id  is_booking  \
0                1                8286                        1           0
1                1                1842                        3           0
2                1                8746                        1           0
3                1                6210                        3           1
4                1               12812                        5           0
...            ...                 ...                      ...         ...
99995            1                 762                        6           0
99996            1               12843                        5           0
99997            3               18773                        1           0
99998            1                8859                        1           0
99999            1               11848                        1           0

       cnt  hotel_continent  hotel_country  hotel_market  hotel_cluster
0        1                0             63          1258             68
1        1                2            198           786             37
2        1                6            105            29             22
3        1                2            198          1234             42
4        1                2             50           368             83
...    ...              ...            ...           ...            ...
99995    1                2             50           503             91
99996    1                2             50           661              6
99997    1                6             22          1794             38
99998    1                2             50           212             89
99999    1                2             50           705             42

[100000 rows x 25 columns]>

In [6]:
print(passenger_df.columns)
print(passenger_df.head)

Index(['ID', 'Gender', 'Age', 'Customer Type', 'Type of Travel', 'Class',
       'Flight Distance', 'Departure Delay', 'Arrival Delay',
       'Departure and Arrival Time Convenience', 'Ease of Online Booking',
       'Check-in Service', 'Online Boarding', 'Gate Location',
       'On-board Service', 'Seat Comfort', 'Leg Room Service', 'Cleanliness',
       'Food and Drink', 'In-flight Service', 'In-flight Wifi Service',
       'In-flight Entertainment', 'Baggage Handling', 'Satisfaction'],
      dtype='object')
<bound method NDFrame.head of             ID  Gender  Age Customer Type Type of Travel         Class  \
0            1    Male   48    First-time       Business      Business
1            2  Female   35     Returning       Business      Business
2            3    Male   41     Returning       Business      Business
3            4    Male   50     Returning       Business      Business
4            5  Female   49     Returning       Business      Business
...        ...     ...  ...           ...            ...           ...
129875  129876    Male   28     Returning       Personal  Economy Plus
129876  129877    Male   41     Returning       Personal  Economy Plus
129877  129878    Male   42     Returning       Personal  Economy Plus
129878  129879    Male   50     Returning       Personal  Economy Plus
129879  129880  Female   20     Returning       Personal  Economy Plus

        Flight Distance  Departure Delay  Arrival Delay  \
0                   821                2            5.0
1                   821               26           39.0
2                   853                0            0.0
3                  1905                0            0.0
4                  3470                0            1.0
...                 ...              ...            ...
129875              447                2            3.0
129876              308                0            0.0
129877              337                6           14.0
129878              337               31           22.0
129879              337                0            0.0

        Departure and Arrival Time Convenience  ...  On-board Service  \
0                                            3  ...                 3
1                                            2  ...                 5
2                                            4  ...                 3
3                                            2  ...                 5
4                                            3  ...                 3
...                                        ...  ...               ...
129875                                       4  ...                 5
129876                                       5  ...                 5
129877                                       5  ...                 3
129878                                       4  ...                 4
129879                                       1  ...                 4

        Seat Comfort  Leg Room Service  Cleanliness  Food and Drink  \
0                  5                 2            5               5
1                  4                 5            5               3
2                  5                 3            5               5
3                  5                 5            4               4
4                  4                 4            5               4
...              ...               ...          ...             ...
129875             1                 4            4               4
129876             2                 5            2               2
129877             3                 4            3               3
129878             4                 5            3               3
129879             2                 4            2               2

        In-flight Service  In-flight Wifi Service  In-flight Entertainment  \
0                       5                       3                        5
1                       5                       2                        5
2                       3                       4                        3
3                       5                       2                        5
4                       3                       3                        3
...                   ...                     ...                      ...
129875                  5                       4                        4
129876                  4                       3                        2
129877                  4                       2                        3
129878                  4                       5                        3
129879                  2                       3                        2

        Baggage Handling             Satisfaction
0                      5  Neutral or Dissatisfied
1                      5                Satisfied
2                      3                Satisfied
3                      5                Satisfied
4                      3                Satisfied
...                  ...                      ...
129875                 4  Neutral or Dissatisfied
129876                 5  Neutral or Dissatisfied
129877                 5  Neutral or Dissatisfied
129878                 5                Satisfied
129879                 1  Neutral or Dissatisfied

[129880 rows x 24 columns]>

In [7]:
print(sentiment_df.columns)
print(sentiment_df.head)

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')
<bound method NDFrame.head of                  tweet_id airline_sentiment  airline_sentiment_confidence  \
0      570306133677760513           neutral                        1.0000
1      570301130888122368          positive                        0.3486
2      570301083672813571           neutral                        0.6837
3      570301031407624196          negative                        1.0000
4      570300817074462722          negative                        1.0000
...                   ...               ...                           ...
14635  569587686496825344          positive                        0.3487
14636  569587371693355008          negative                        1.0000
14637  569587242672398336           neutral                        1.0000
14638  569587188687634433          negative                        1.0000
14639  569587140490866689           neutral                        0.6771

               negativereason  negativereason_confidence         airline  \
0                         NaN                        NaN  Virgin America
1                         NaN                     0.0000  Virgin America
2                         NaN                        NaN  Virgin America
3                  Bad Flight                     0.7033  Virgin America
4                  Can't Tell                     1.0000  Virgin America
...                       ...                        ...             ...
14635                     NaN                     0.0000        American
14636  Customer Service Issue                     1.0000        American
14637                     NaN                        NaN        American
14638  Customer Service Issue                     0.6659        American
14639                     NaN                     0.0000        American

      airline_sentiment_gold             name negativereason_gold  \
0                        NaN          cairdin                 NaN
1                        NaN         jnardino                 NaN
2                        NaN       yvonnalynn                 NaN
3                        NaN         jnardino                 NaN
4                        NaN         jnardino                 NaN
...                      ...              ...                 ...
14635                    NaN  KristenReenders                 NaN
14636                    NaN         itsropes                 NaN
14637                    NaN         sanyabun                 NaN
14638                    NaN       SraJackson                 NaN
14639                    NaN        daviddtwu                 NaN

       retweet_count                                               text  \
0                  0                @VirginAmerica What @dhepburn said.
1                  0  @VirginAmerica plus you've added commercials t...
2                  0  @VirginAmerica I didn't today... Must mean I n...
3                  0  @VirginAmerica it's really aggressive to blast...
4                  0  @VirginAmerica and it's a really big bad thing...
...              ...                                                ...
14635              0  @AmericanAir thank you we got on a different f...
14636              0  @AmericanAir leaving over 20 minutes Late Flig...
14637              0  @AmericanAir Please bring American Airlines to...
14638              0  @AmericanAir you have my money, you change my ...
14639              0  @AmericanAir we have 8 ppl so we need 2 know h...

      tweet_coord              tweet_created tweet_location  \
0             NaN  2015-02-24 11:35:52 -0800            NaN
1             NaN  2015-02-24 11:15:59 -0800            NaN
2             NaN  2015-02-24 11:15:48 -0800      Lets Play
3             NaN  2015-02-24 11:15:36 -0800            NaN
4             NaN  2015-02-24 11:14:45 -0800            NaN
...           ...                        ...            ...
14635         NaN  2015-02-22 12:01:01 -0800            NaN
14636         NaN  2015-02-22 11:59:46 -0800          Texas
14637         NaN  2015-02-22 11:59:15 -0800  Nigeria,lagos
14638         NaN  2015-02-22 11:59:02 -0800     New Jersey
14639         NaN  2015-02-22 11:58:51 -0800     dallas, TX

                    user_timezone
0      Eastern Time (US & Canada)
1      Pacific Time (US & Canada)
2      Central Time (US & Canada)
3      Pacific Time (US & Canada)
4      Pacific Time (US & Canada)
...                           ...
14635                         NaN
14636                         NaN
14637                         NaN
14638  Eastern Time (US & Canada)
14639                         NaN

[14640 rows x 15 columns]>

In [8]:
skytrax_df.info()
sentiment_df.info()
passenger_df.info()
expedia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131895 entries, 0 to 131894
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          65947 non-null  object
 1   overall          64017 non-null  float64
 2   author           65947 non-null  object
 3   review_date      65947 non-null  object
 4   customer_review  65947 non-null  object
 5   aircraft         19718 non-null  object
 6   traveller_type   39755 non-null  object
 7   cabin            63303 non-null  object
 8   route            39726 non-null  object
 9   date_flown       39633 non-null  object
 10  seat_comfort     60681 non-null  float64
 11  cabin_service    60715 non-null  float64
 12  food_bev         52608 non-null  float64
 13  entertainment    44193 non-null  float64
 14  ground_service   39358 non-null  float64
 15  value_for_money  63975 non-null  float64
 16  recommended      64440 non-null  object
dtypes: float64(7), object(10)
memory usage: 17.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ID                                      129880 non-null  int64
 1   Gender                                  129880 non-null  object
 2   Age                                     129880 non-null  int64
 3   Customer Type                           129880 non-null  object
 4   Type of Travel                          129880 non-null  object
 5   Class                                   129880 non-null  object
 6   Flight Distance                         129880 non-null  int64
 7   Departure Delay                         129880 non-null  int64
 8   Arrival Delay                           129487 non-null  float64
 9   Departure and Arrival Time Convenience  129880 non-null  int64
 10  Ease of Online Booking                  129880 non-null  int64
 11  Check-in Service                        129880 non-null  int64
 12  Online Boarding                         129880 non-null  int64
 13  Gate Location                           129880 non-null  int64
 14  On-board Service                        129880 non-null  int64
 15  Seat Comfort                            129880 non-null  int64
 16  Leg Room Service                        129880 non-null  int64
 17  Cleanliness                             129880 non-null  int64
 18  Food and Drink                          129880 non-null  int64
 19  In-flight Service                       129880 non-null  int64
 20  In-flight Wifi Service                  129880 non-null  int64
 21  In-flight Entertainment                 129880 non-null  int64
 22  Baggage Handling                        129880 non-null  int64
 23  Satisfaction                            129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 100000 non-null  int64
 1   date_time                  100000 non-null  object
 2   site_name                  100000 non-null  int64
 3   posa_continent             100000 non-null  int64
 4   user_location_country      100000 non-null  int64
 5   user_location_region       100000 non-null  int64
 6   user_location_city         100000 non-null  int64
 7   orig_destination_distance  63915 non-null   float64
 8   user_id                    100000 non-null  int64
 9   is_mobile                  100000 non-null  int64
 10  is_package                 100000 non-null  int64
 11  channel                    100000 non-null  int64
 12  srch_ci                    99878 non-null   object
 13  srch_co                    99878 non-null   object
 14  srch_adults_cnt            100000 non-null  int64
 15  srch_children_cnt          100000 non-null  int64
 16  srch_rm_cnt                100000 non-null  int64
 17  srch_destination_id        100000 non-null  int64
 18  srch_destination_type_id   100000 non-null  int64
 19  is_booking                 100000 non-null  int64
 20  cnt                        100000 non-null  int64
 21  hotel_continent            100000 non-null  int64
 22  hotel_country              100000 non-null  int64
 23  hotel_market               100000 non-null  int64
 24  hotel_cluster              100000 non-null  int64
dtypes: float64(1), int64(21), object(3)
memory usage: 19.1+ MB

In [9]:
# # Keep relevant columns
# skytrax_df = skytrax_df[['airline', 'author', 'review_date', 'customer_review', 'traveller_type', 'cabin', 'recommended']]

# # Drop NaN reviews
# skytrax_df = skytrax_df[skytrax_df['customer_review'].notnull()].reset_index(drop=True)

# # Assign synthetic user_id
# skytrax_df['user_id'] = ['user_' + str(i) for i in range(len(skytrax_df))]

In [10]:
skytrax_df = skytrax_df[['airline', 'customer_review', 'recommended']]
skytrax_df = skytrax_df.dropna()
skytrax_df = skytrax_df[skytrax_df['recommended'].isin(['yes', 'no'])].reset_index(drop=True)

skytrax_df['sentiment'] = skytrax_df['recommended'].map({'yes': 1, 'no': 0})

skytrax_df['language'] = skytrax_df['customer_review'].apply(lambda x: detect(str(x)))

skytrax_df['user_id'] = ['user_' + str(i) for i in range(len(skytrax_df))]

In [11]:
passenger_df = passenger_df.rename(columns={
    'ID': 'user_id', 'Gender': 'gender', 'Age': 'age', 'Class': 'travel_class', 'Satisfaction': 'satisfaction'
})
passenger_df = passenger_df[['user_id', 'gender', 'age', 'travel_class', 'satisfaction']]

passenger_df['user_id'] = ['user_' + str(i) for i in range(len(passenger_df))]

In [12]:
expedia_df = expedia_df[['user_id', 'date_time', 'is_booking']]

# Convert user_id to synthetic pattern
expedia_df['user_id'] = ['user_' + str(i) for i in range(len(expedia_df))]

# Drop duplicates (latest session only)
expedia_df = expedia_df.drop_duplicates(subset='user_id', keep='last')

In [13]:
min_len = min(len(skytrax_df), len(passenger_df), len(expedia_df))

skytrax_df = skytrax_df.sample(n=min_len, random_state=42).reset_index(drop=True)
passenger_df = passenger_df.sample(n=min_len, random_state=42).reset_index(drop=True)
expedia_df = expedia_df.sample(n=min_len, random_state=42).reset_index(drop=True)

# Now all have the same 'user_id' order
skytrax_df['user_id'] = ['user_' + str(i) for i in range(min_len)]
passenger_df['user_id'] = ['user_' + str(i) for i in range(min_len)]
expedia_df['user_id'] = ['user_' + str(i) for i in range(min_len)]

In [14]:
# Merge Skytrax + Passenger
merge1 = pd.merge(skytrax_df, passenger_df, on='user_id', how='inner')

# Merge with Expedia
master_df = pd.merge(merge1, expedia_df, on='user_id', how='inner')

In [15]:
master_df.head()

,airline,customer_review,recommended,sentiment,language,user_id,gender,age,travel_class,satisfaction,date_time,is_booking
0,Aer Lingus,DUB-MAL. Flew to Malaga recently and overall v...,yes,1,en,user_0,Male,23,Economy,Neutral or Dissatisfied,2014-06-12 17:49:40,0
1,Thai Airways,TG 911 30th Jan 2015. Inbound flight TG916 on ...,no,0,en,user_1,Male,38,Economy,Satisfied,2014-01-14 22:43:20,0
2,United Airlines,âœ… Trip Verified | Columbia to Tokyo via Denv...,no,0,en,user_2,Male,33,Business,Satisfied,2014-07-11 10:58:21,0
3,flydubai,Flydubai to and from Port Sudan. Both flights ...,yes,1,en,user_3,Male,68,Economy,Satisfied,2013-09-17 05:06:11,0
4,Etihad Airways,Flew MEL-AUH-DUB. Booked business and got unex...,yes,1,en,user_4,Male,27,Business,Satisfied,2014-07-09 17:55:09,1

In [32]:
print("Rows, Columns:", master_df.shape)

Rows, Columns: (64440, 12)

In [34]:
print(master_df.columns.tolist())

['airline', 'customer_review', 'recommended', 'sentiment', 'language', 'user_id', 'gender', 'age', 'travel_class', 'satisfaction', 'date_time', 'is_booking']

In [36]:
# Save the master dataframe to CSV with UTF-8 encoding
master_df.to_csv("master_airline_dataset.csv", index=False, encoding='utf-8')

In [38]:
master_df['language'].value_counts()

language
en    64427
es        4
fr        4
nl        3
de        1
it        1
Name: count, dtype: int64